PORT=3000
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=suasenhapostgres
DB_NAME=merenda

# Configurações do Serviço de E-mail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=naoresponda@tec.edu.muriae.mg.gov.br
SMTP_PASSWORD=suasenhaqui
SMTP_FROM=naoresponda@tec.edu.muriae.mg.gov.br
## SMTP_SECURE=true          # Use "false" se não precisar de criptografia